h1,
p {
  color: white;
  margin: 0;
}

.box button {
  height: 63px;
  width: 100%;
}

.title-presentation h1 {
  font-size: 70px;
  letter-spacing: -2px;
  font-family: "GothamPro", Helvetica;
}

.text-presentation p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  color: white;
  line-height: 38px;
}
