h2 {
  color: white;
}

.rectangle-products {
  background-image: url("../../assets/cover/cover-products.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-position: top;
  margin-top: 3rem;
}

.title-products h2 {
  text-align: center;
}

.list-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
}
