.buttonstyle,
button {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  border-radius: 15px;
}

.primary {
  background-color: var(--amarelo);
  color: var(--azul-mais-escuro);
  box-shadow: 0px 0px 17px 3px #fbaf1761;
}

.secondary {
  background-color: var(--azul-mais-escuro);
}

.default {
  background-color: none;
  background: none;
  border: 1px solid white;
}
