.card-category {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  color: var(--amarelo);
  text-align: center;
  border-radius: 15px;
}

.title-category {
  color: var(--Amarelo);
  text-align: center;
  font-family: Gotham;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.66px;
}

.img-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  background: linear-gradient(180deg, var(--amarelo) 0%, #fba017 100%);
  width: 263px;
  min-height: 258px;
  box-shadow: 0px 2px 20px 3px #2f2f2f38;
}

.img-category img {
  width: 122px;
  height: 122px;
}
